/* Color Template  */
.color-primary{
    color: $color-primary;
}

.color-bg-primary{
    background-color: $color-primary;
}

.color-second{
    color: $color-second;
}

.color-bg-second{
    background-color: $color-second;
}

.color-gold{
    color: $color-gold;
}

.color-bg-gold{
   background-color: $color-gold;

}


.color-gray{
    color: $color-gray;
 }
 .color-bg-gray{
    background-color: $color-gray;
 }

 .color-white{
    color: $color-white;
 }
 .color-bg-white{
    background-color: $color-white;
 }

 .color-pinklight{
    color: $color-pinklight;
 }
 .color-bg-pink{
    background-color: $color-pinklight;
 }

 .color-pinkdark{
    color: $color-pinkdark;
 }
 .color-bg-pinkdark{
    background-color: $color-pinkdark;
 }